$default-font: "Lora", serif
$accent-font: "Bickham Script", serif
$alter-font: "Kaushan Script", serif

$accent: #f6b8b8
$white: #fafafa
$color: #333
$brown: #8b7770

@mixin mt($time)
  transition: all $time ease

